<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC160.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - Coffee

In [1]:
s = input()
ans = 'Yes' if s[2] == s[3] and s[4] == s[5] else 'No'
print(ans)

sippuu
Yes

## B - Golden Coins

In [9]:
x = int(input())
ans = (x // 500) * 1000 + ((x % 500) // 5) * 5
print(ans)

1024
2020

## C - Traveling Salesman around Lake

In [19]:
k, n = map(int, input().split())
a_list = list(map(int, input().split()))
a_list.append(k + a_list[0])
diff_max = 0

for i in range(n):
  diff_max = max(diff_max, a_list[i + 1] - a_list[i])

ans = k - diff_max
print(ans)

20 3
5 10 15
10

## D - Line++

In [24]:
n, x, y = map(int, input().split())
ans_list = [0] * (n - 1)

for i in range(1, n):
  for j in range(i + 1, n + 1):
    distance = min(j - i, abs(j - y) + abs(i - x) + 1)
    ans_list[distance - 1] += 1

for ans in ans_list:
  print(ans)

7 3 7
7
8
4
2
0
0

In [ ]:
]