<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC114.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - 753

In [1]:
x = int(input())
year_list = [3, 5, 7]
ans = 'YES' if x in year_list else 'NO'
print(ans)

5
Yes

## B - 754

In [3]:
s = input()
ans = 753
for i in range(len(s) - 2):
  ans = min(ans, abs(int(s[i:i+3]) - 753))
print(ans)

35753
0

## C - 75

In [68]:
n = int(input())

def ternary(n):
  if n == 0:
    return '0'
  nums = []
  while n:
    n, r = divmod(n, 3)
    nums.append(str(r))
  return ''.join(reversed(nums))


ans_list = []
for i in range(5, 19678):
  for k in range(3, 10):
    i_ternary = ternary(i).zfill(k)
    if all(i_ternary.count(c) > 0 for c in '012'):
      num = int(i_ternary.replace('0', '3').replace('1', '5').replace('2', '7'))
      if num <= n:
        ans_list.append(num)

ans = len(set(ans_list))
print(ans)

999999999
[357, 3357, 33357, 333357, 3333357, 33333357, 333333357, 375, 3375, 33375]
26484

## D - 756

In [ ]:
n = input()