<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC188.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A

In [2]:
x, y = map(int, input().split())
ans = 'Yes' if abs(x - y) < 3 else 'No'
print(ans)

3 5
Yes

## B

In [4]:
n = int(input())
a_list = list(map(int, input().split()))
b_list = list(map(int, input().split()))

_ans = 0
for a, b in zip(a_list, b_list):
  _ans += a * b

ans = 'Yes' if _ans == 0 else 'No'
print(ans)

2
4 5
-1 -3
No

## C

In [22]:
n = int(input())
a_list = list(map(int, input().split()))

val1 = max(a_list[:(2 ** n)//2])
val2 = max(a_list[(2 ** n)//2:])

index1 = a_list.index(val1)
index2 = a_list.index(val2)

ans = index1 + 1 if val1 < val2 else index2 + 1
print(ans)

4
6 13 12 5 3 7 10 11 16 9 8 15 2 1 14 4
2

## D

In [8]:
# メモリエラー
n, c_max = map(int, input().split())
ans_list = [0] * (10 ** 9 + 1)

for _ in range(n):
  a, b, c = map(int, input().split())
  for i in range(a, b + 1):
    ans_list[i] = min(c_max, ans_list[i] + c)

ans = sum(ans_list)
print(ans)

2 6
1 2 4
2 2 4
10

In [24]:
n, c_max = map(int, input().split())

evnt_list = []

for _ in range(n):
  a, b, c = map(int, input().split())
  evnt_list.append([a, c])
  evnt_list.append([b + 1, -c])

evnt_list.sort()

fee_today = 0
today = 0
ans = 0

for day, event in evnt_list:
  ans += min(fee_today, c_max) * (day - today)
  today = day
  fee_today += event

print(ans)

2 6
1 2 4
2 2 4
10

## F

In [23]:
# TLE
x, y = map(int, input().split())

if x == y:
  ans = 0
elif x > y:
  ans = x - y
else:
  ans_set = {x}
  _ans_set = set()
  
  ans = 0
  while y not in ans_set:
    for a in ans_set:
      _ans_set |= {a + 1, a - 1, a * 2}
    ans_set |= _ans_set
    ans += 1

print(ans)

7 11
3

In [26]:
from functools import lru_cache


x, y = map(int, input().split())

@lru_cache(maxsize=None)
def solve(n):
  if n % 2 == 1:
    if n == 1:
      return abs(x - n)
    else:
      return min(solve((n + 1) // 2) + 2, solve((n - 1) // 2) + 2, abs(x - n))
  else:
    return min(solve(n // 2) + 1, abs(x - n))

ans = solve(y)
print(ans)

3 9
3