<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC170.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - Five Variables

In [1]:
x1, x2, x3, x4, x5 = map(int,input().split())
ans = 15 - (x1 + x2 + x3 + x4 + x5)
print(ans)

0 2 3 4 5
1

## B - Crane and Turtle

In [4]:
x, y = map(int,input().split())
ans = 'No'
for i in range(x + 1):
  if i * 2 + (x - i) * 4 == y:
    ans = 'Yes'
    break
print(ans)

1 2
Yes

## C - Forbidden List

In [14]:
x, n = map(int,input().split())
p_list = list(map(int,input().split()))

ans = x - 50
for i in range(0, 52):
  if x - i in p_list and x + i in p_list:
    continue
  else:
    if x - i in p_list:
      ans = x + i
    else:
      ans = x - i
    break

print(ans)

100 0

100

## D - Not Divisible

In [11]:
n = int(input())
a_list = list(map(int,input().split()))
a_list.sort()

ans_list = [0] * (a_list[-1] + 1)

for a in a_list:
  for index, i in enumerate(range(a, a_list[-1] + 1, a)):
    ans_list[i] += index + 1

ans = ans_list.count(1)
print(ans)

10
33 18 45 28 8 19 89 86 2 4
5

## E - Smart Infants