<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC182.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - twiblr

In [2]:
a, b = map(int, input().split())
ans = (2 * a + 100) - b
print(ans)

200 300
200

## B - Almost GC

In [10]:
n = int(input())
a_list = list(map(int, input().split()))

num = 0
ans = 0

for i in range(2, 1001):
  _num = 0
  for a in a_list:
    if a % i == 0:
      _num += 1
  if _num > num:
    num = _num
    ans = i

print(ans)

5
1000 1000 1000 1000 1000
2

## C - To 3

In [19]:
import itertools

n_list = list(input())
ans = -1

for i in range(len(n_list)):
  comb_num = len(n_list) - i
  for comb_list in list(itertools.combinations(n_list, comb_num)):
    if int(''.join(comb_list)) % 3 == 0:
      ans = i
      break
  if ans != -1: break

print(ans)

11
-1

## D - Wandering

In [41]:
# TLE
n = int(input())
a_list = list(map(int, input().split()))

a_sum = 0
ans = 0

for i in range(1, n + 1):
  for j in range(i, 0, -1):
    a_sum += a_list[i - j]
    ans = max(ans, a_sum)
print(ans)

5
-2 1 3 -1 -1
2

In [75]:
n = int(input())
a_list = list(map(int, input().split()))

if n == 1:
  ans = max(0, a_list[0])
else:
  a_sum_list = []
  i = 0
  for a in a_list:
    i += a
    a_sum_list.append(i)

  a_sum_sum_list = []
  j = 0
  for a_sum in a_sum_list:
    j += a_sum
    a_sum_sum_list.append(j)

  max_behind = a_sum_sum_list.index(max(a_sum_sum_list[:-1]))

  # print(a_sum_list)
  # print(a_sum_sum_list)
  ans = max(0, (max(a_sum_sum_list[:-1]) + max(a_sum_list[:max_behind+1])), a_sum_sum_list[-1])

print(ans)

1
1
1

## E - Akari