<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC158.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - Station and Bus

In [1]:
s = input()
ans = 'No' if s == 'AAA' or s == 'BBB' else 'Yes'
print(ans)

BBB
No

## B - Count Balls

In [10]:
n, a, b = map(int, input().split())
ans = n // (a + b) * a + min(n % (a + b), a)
print(ans)

858448643684243520 899 914
425673100205259458

## C - Tax Increase

In [16]:
import math


a, b = map(int, input().split())

e = 0
for i in range(10101):
  if math.floor(i * 0.08) == a and math.floor(i * 0.1) == b:
    e = 1
    break

ans = i if e == 1 else -1
print(ans)

19 99
-1

## D - String Formation

In [27]:
# TLE
s = input()
q = int(input())

r_cnt = 0

for _ in range(q):
  query = list(input().split())
  if query[0] == '1':
    r_cnt += 1
  else:
    if r_cnt % 2 != 0:
      s = ''.join([n for n in reversed(list(s))])
    r_cnt = 0
    if query[1] == '1':
      s = query[2] + s
    else:
      s = s + query[2]

ans = s if r_cnt % 2 == 0 else ''.join([n for n in reversed(list(s))])
print(ans)

a
4
2 1 p
1
2 2 c
1
apc