<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC116.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - Right Triangle

In [ ]:
ab, bc , ca = map(int, input().split())
ans = (ab * bc) // 2
print(ans)

3 4 5
6

## B - Collatz Problem

In [ ]:
s = int(input())

ans_list = [s]
ans = 1

while True:
  if ans_list[-1] % 2 == 0:
    _ans = ans_list[-1] // 2
  else:
    _ans = (ans_list[-1]) * 3 + 1
  ans += 1

  if _ans in ans_list:
    break
  else:
    ans_list.append(_ans)

print(ans)

54
114

## C - Grand Garden

In [11]:
n = int(input())
h_list = list(map(int, input().split()))
init_list = [0] * n

ans = 0

while h_list != [0] * len(h_list):
  _i = 0
  if h_list.count(0) == 0:
    water = min(h_list)
    h_list = [h - water for h in h_list]
    ans += water
  else:
    for i, h in enumerate(h_list):
      if h == 0:
        if _i != i:
          water = min(h_list[_i:i])
          h_list[_i:i] = [h - water for h in h_list[_i:i]]
          ans += water
          _i = i
        else:
          _i = i + 1
    
    zs = 0
    for i, h in enumerate(h_list):
      if h == 0:
        zs += 1
      else:
        h_list = h_list[i:]
        break

print(ans)

8
4 23 75 0 23 96 50 100
221

In [21]:
n = int(input())
h_list = list(map(int, input().split()))
ans = 0
j = 0
for i in h_list:
  ans += max(i - j,0)
  j = i
print(ans)

8
4 23 75 0 23 96 50 100
221

## D - Various Sushi

In [ ]:
from collections import defaultdict


n, k = map(int, input().split())

td_dict = defaultdict(int)

for _ in range(n):
  t, d = map(int, input().split())
  td_dict[t] = d