<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/ABC171.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - Î±lphabet

In [1]:
a = input()
ans = 'A' if a.isupper() else 'a'
print(ans)

d
a

## B - Mix Juice

In [4]:
n, k = map(int, input().split())
p_list = list(map(int, input().split()))
p_list.sort()
ans = sum(p_list[:k])
print(ans)

5 3
50 100 80 120 80
210

## C - One Quadrillion and One Dalmatians

In [119]:
# WA

n = int(input())
n -= 1

ans_list = [0] * 12

while n > 0:
  i = 0
  while pow(26, i) <= n:
    i += 1
  if i > 1:
    ans_list[i] = n // pow(26, i - 1)
    n = n % pow(26, i-1)
  else:
    ans_list[1] = n
    break
  print(i, n)

ans = ''
for a in ans_list:
  if a != 0: ans += chr(a + 96)
print(ans_list)
print(ans)

703
3 26
2 0
[0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0]
aa

In [124]:
n = int(input())
ans_list = []
while n > 0:
  n -= 1
  ans_list.append(n % 26)
  n //= 26

ans_list.reverse()

ans = ''
for a in ans_list:
  ans += chr(a + 97)
print(ans)

702
zz

## D - Replacing