<a href="https://colab.research.google.com/github/yamanoyu/atcorder/blob/master/BAC144.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## A - 9x9

In [1]:
a, b = map(int, input().split())
ans = a * b if a < 10 and b < 10 else -1
print(ans)

5 10
-1

## B - 81

In [5]:
n = int(input())
ans_list = []

for i in range(10):
  for j in range(10):
    ans_list.append(i * j)

ans = 'Yes' if n in ans_list else 'No'
print(ans)

90
No

## C - Walk on Multiplication Table

In [8]:
import math


n = int(input())
middle_num = math.floor(math.sqrt(n))

for i in range(middle_num, 0, -1):
  if n % i == 0:
    break
ans = i + n // i - 2
print(ans)

50
13

## D - Water Bottle

In [18]:
# import decimal
import math


a, b, x = map(int, input().split())
water_bottle = (a ** 2) * b

if x >= water_bottle * 0.5:
  ans = math.degrees(math.atan(2 * (water_bottle - x) / (a ** 3)))
else:
  ans = math.degrees(math.atan((0.5 * a * (b ** 2)) / x))

print(ans)

12 21 10
89.78346369338755

## E - Gluttony

## F - Fork in the Road